

.span12 {
	background-color: #fff;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 30px;
	line-height: 30px;
	border-left: -130px;
}

.span8 {
	background-color: #ac1;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 30px;
	line-height: 30px;
	border-left: -130px;
}

.span4 {
	background-color: #2b6;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 30px;
	line-height: 30px;
}

.span1 {
	background-color: #2b4;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 30px;
	line-height: 30px;
}
.span2 {
	background-color: #6c4;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 30px;
	line-height: 30px;
}

body {
	position: relative;
	padding-top: 30px;
	background-color: #fff;
	background-image: url(../img/bg.png);
}
label { 
	width: 10em;
	float: left; 
}
label.error { float: none;
	color: red;
	padding-left: .5em;
	vertical-align: top;
}
.show-grid {
	margin-top: 10px;
	margin-bottom: 20px;
}
.show-grid [class*="span"] {
	background-color: #eee;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 30px;
	line-height: 30px;
}
.show-grid:hover [class*="span"] {
	background: #ddd;
}
.show-grid .show-grid {
	margin-top: 0;
	margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
	background-color: #ccc;
}